* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: rgba(72, 72, 72, 1);
  font-weight: 700;
}

.app {
  width: 1280px;
  margin: auto;
}

.brown {
  color: #484848;
}

.white {
  color: #FFFFFF;
}

.app-logo {
  display: grid;
  width: 315px;
  margin: auto;
  margin-top: 237px;
}

.app-p {
  display: flex;
  justify-content: flex-end;
  color: rgba(72, 72, 72, 1);
  font-weight: 700;
  margin-top: 10px;
  font-size: 14px;
}

.app-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 209px;
}

.search-bar {
  margin-top: 44px;
  display: flex;
}

.search-input {
  width: 709px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 1);
  text-align: center;
}

.search-input:placeholder-shown {
  text-align: center;
}

.search-input:hover {
  background-color: rgba(100, 100, 100, 0.08);
}

.search-button {
  width: 138px;
  height: 36px;
  border-radius: 8px;
  background-color: #204080;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 18px;
  text-shadow: rgba(0, 0, 0, 0.25);
  margin-left: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #4F75C2;
  color: #FFFFFF;
}

.search-button:disabled {
  background-color: rgba(20, 20, 20, .4);
  user-select: none;
  cursor: auto;
}

.user-lists {
  background-color: #FFFFFF;
  border: 1px solid #484848;
  border-radius: 4px;
  margin-top: 18px;
  width: 709px;
  display: flex;
  flex-direction: column;
}

.more-list {
  background-color: #FFFFFF;
  margin-top: 18px;
  width: 709px;
  display: flex;
  flex-direction: column;
}

/*.user-list a*/
.show-more-button {
  color: black;
  font-size: 12px;
  font-weight: 700;
  margin-top: 42px;
  background: none;
  border: none;
  text-align: center;
  text-decoration: none;
}

.show-more-button:hover {
  color: black;
}

.app-user {
  margin: 10px 20px 2px 17px;
  padding: 9px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  border: none;
  border-radius: 4px;
}

.user {
  display: flex;
  justify-content: flex-start;
}

.app-user:hover {
  background-color: #C4C4C4;
  cursor: pointer;
}

.app-user:hover .user-pers {
  color: white;
}

.user-left {
  width: 345px;
}

.user-from {
  color: #484848;
}

.user-pers {
  font-size: 12px;
  color: rgba(104, 104, 104, 1)
}

.user-mail {
  width: 245px;
  color: #484848;
}

.line {
  width: 100%;
  border-bottom: 1px solid #585858;
}

.app-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.page-item {
  background: #FFFFFF;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin: 5px;
  user-select: none;
}

.page-prev {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  width: 86px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #484848;
  border-radius: 4px;
  color: #484848;
  margin: 5px;
}

.page-link {
  width: 24px;
  height: 24px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #484848;
  border-radius: 4px;
  margin: 5;
  padding: 0;
  color: #484848;
}

.page-links {
  text-decoration: none;
  color: #484848;
  user-select: none;
  display: block;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

/** MoreList */

.app-s-logo {
  display: flex;
  margin: 27px 0 0 37px;
  align-items: center;
}

.search-more-input {
  width: 509px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 1);
  text-align: center;
  margin-left: 35px;
}

.search-more-input:placeholder-shown {
  text-align: center;
}

.search-more-input:hover {
  background: rgba(100, 100, 100, 0.08);
}

.search-more-input:required {
  border: 2px solid red;
}

input:focus {
  outline: none;
}

.order {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
}

.order p {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  height: 24px;
}

.order img {
  width: 26px;
  height: 24px;
  margin: 0;
}

.order-poop {
  width: 166px;
  height: 153px;
}

.order-by {
  font-size: 14px;
  font-weight: 700;
  height: 29px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.order-by:hover {
  background-color: #C4C4C4;
  color: #FFFFFF;
}