* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: rgba(72, 72, 72, 1);
  font-weight: 700;
}

.app-logo {
  display: grid;
  width: 315px;
  margin: auto;
  margin-top: 237px;
}

.app-p {
  display: flex;
  justify-content: flex-end;
  color: rgba(72, 72, 72, 1);
  font-weight: 700;
  margin-top: 10px;
  font-size: 14px;
}

.app-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 209px;
}

.search-bar {
  margin-top: 44px;
  display: flex;
}

.search-input {
  width: 709px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 1);
  text-align: center;
}

.search-input:placeholder-shown {
  text-align: center;
}

.search-input:hover {
  background-color: rgba(100, 100, 100, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.search-button {
  width: 138px;
  height: 36px;
  border-radius: 8px;
  background-color: #204080;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 18px;
  text-shadow: rgba(0, 0, 0, 0.25);
  margin-left: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #4F75C2;
}

.user-list {
  background-color: #FFFFFF;
  border: 1px solid #484848;
  border-radius: 4px;
  margin-top: 18px;
  width: 709px;
}

.user {
  margin: 18px 35px 6px 30px;
  border-bottom: 1px solid #585858;
  transform: matrix(1, 0, 0, 1, 0, 0);
  display: flex;
}

.user:hover {
  background-color: #C4C4C4;
  cursor: pointer;
}

.user:hover .user-pers {
  color: white;
}

.user-left {
  width: 345px;
}

.user-from {
  color: #484848;
}

.user-pers {
  font-size: 12px;
  color: rgba(104, 104, 104, 1)
}

.user-mail {
  width: 245px;
  color: #484848;
}

.app-pagination {
  display: flex;
  justify-content: center;
}